@page
@model Repeat.EditModel

@{
    ViewData["Title"] = "Edit";
}

<br />
<h4>Edit set</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Set.ID" value="@Model.Set.ID" />
            <input type="hidden" asp-for="Set.OwnerID" value="@Model.CurrentUserID" />
            <div class="form-group">
                <label asp-for="Set.Name" class="control-label"></label>
                <input asp-for="Set.Name" class="form-control" />
                <span asp-validation-for="Set.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<h6>Questions in this set:</h6>
<table class="table">
    @for (int i = 0; i < Model.Questions.Count(); i++)
    {
        <tr>
            <td class="text-left">
                <nobr>
                    <a class="small font-weight-bold">Question @(i + 1):</a>
                </nobr>
            </td>
            <td class="text-left">
                <label>@Model.Questions[i].QuestionText</label>
            </td>
            <td class="text-right">
                <a class="btn btn-danger btn-sm"
                   asp-page="./Detach" 
                   asp-route-sid="@Model.Set.ID" 
                   asp-route-qid="@Model.Questions[i].ID">Remove</a>
            </td>
        </tr>
    }
</table>
<div>
    <a asp-page="./Index" class="btn btn-dark">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
