@page
@model Repeat.EditModel

@{
    ViewData["Title"] = "Edit";
}

<br />
<h4>Edit set</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Set.ID" value="@Model.Set.ID" />
            <input type="hidden" asp-for="Set.OwnerID" value="@Model.Set.OwnerID" />
            <div class="form-group">
                <label asp-for="Set.Name" class="control-label"></label>
                <input asp-for="Set.Name" class="form-control" />
                <span asp-validation-for="Set.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<h6>Questions in this set:</h6>
<table class="table">
    @{ int i = 0; }
    @foreach (var questionSet in Model.Set.QuestionSets)
    {
        i++;
        <tr>
            <td class="text-left">
                <nobr>
                    <a class="small font-weight-bold">Question @i:</a>
                </nobr>
            </td>
            <td class="text-left">
                <partial name="Questions/_TextPartial" model="@questionSet.Question.QuestionText" />
            </td>
            <td class="text-right">
                <form method="post" asp-page-handler="Detach" asp-route-id="@Model.Set.ID">
                    <input type="hidden" asp-for="QuestionSet.QuestionID" value="@questionSet.QuestionID" />
                    <input type="hidden" asp-for="QuestionSet.SetID" value="@questionSet.SetID" />
                    <input type="submit" class="btn btn-danger btn-sm" value="Remove" />
                </form>
            </td>
        </tr>
    }
</table>
<div>
    <a asp-page="./Index" class="btn btn-dark">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}