@page
@model Repeat.Pages.Administration.Questions.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Administration/_Layout.cshtml";
}

<br />
<h4>Create a new question</h4>
<hr />
<div class="row">
    <div class="col-md-12">

        <div class="mb-md-2 btn-group">
            <form method="post" asp-page-handler="Less">
                <input type="hidden" asp-for="AnswersCount" value="@Model.Question.Answers.Count" />
                @if (@Model.AnswersCount <= 2)
                {
                    <button disabled class="btn btn-warning mr-md-2 btn-sm">Remove Answer @((char)('A' + @Model.Question.Answers.Count - 1))</button>
                }
                else
                {
                    <button class="btn btn-warning mr-md-2 btn-sm">Remove Answer @((char)('A' + @Model.Question.Answers.Count - 1))</button>
                }
            </form>
            <form method="post" asp-page-handler="More">
                <input type="hidden" asp-for="AnswersCount" value="@Model.Question.Answers.Count" />
                @if (@Model.AnswersCount >= 10)
                {
                    <button disabled class="btn btn-success btn-sm">Add Answer @((char)('A' + @Model.Question.Answers.Count))</button>
                }
                else
                {
                    <button class="btn btn-success btn-sm">Add Answer @((char)('A' + @Model.Question.Answers.Count))</button>
                }
            </form>
        </div>

        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <select asp-for="Question.CategoryId" class="form-control"
                            asp-items="ViewBag.CategoryId">
                        <option value="" selected disabled>-- Select category --</option>
                    </select>
                </div>
                <span asp-validation-for="Question.CategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <label class="control-label">Question:</label>
                        </div>
                    </div>
                    <textarea asp-for="Question.QuestionText" class="form-control"></textarea>
                </div>
                <span asp-validation-for="Question.QuestionText" class="text-danger"></span>
            </div>
            @for (int i = 0; i < Model.Question.Answers.Count(); i++)
            {
                <div class="form-group" id="temp">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input asp-for="Question.Answers[i].IsTrue" class="control-label">
                            </div>
                        </div>
                        <textarea asp-for="Question.Answers[i].AnswerText" placeholder="Answer @((char)('A' + i))" class="form-control" aria-label="Text input with checkbox"></textarea>
                    </div>
                    <span asp-validation-for="Question.Answers[i].AnswerText" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <input asp-for="FileUpload.FormFile" class="form-control-file" />
                <span asp-validation-for="Question.Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Belongs to sets:</label>
                <select asp-for="SelectedSets" class="form-control" asp-items="ViewBag.SetId" multiple="multiple"></select>
            </div>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <label class="control-label">References:</label>
                        </div>
                    </div>
                    <textarea asp-for="Question.Reference" class="form-control"></textarea>
                </div>
                <span asp-validation-for="Question.Reference" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Question.OwnerId" value="@Model.Question.OwnerId" />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>
<div>
    <a asp-page="Index" class="btn btn-dark">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/tab.js"></script>
}