@page
@model Repeat.Pages.Administration.Questions.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Administration/_Layout.cshtml";
}

<br />
<h4>List of questions</h4>
<hr />
<div class="">
    <form method="post">
        <div class="input-group mb-3">
            <select asp-for="SelectedCategoryID" asp-items="ViewBag.CategoryID" class="form-control custom-control-inline">
                <option value="" selected disabled>-- Select category --</option>
            </select>
            <select asp-for="SelectedSetID" asp-items="ViewBag.SetID" class="form-control custom-control-inline">
                <option value="" selected disabled>-- Select set --</option>
            </select>
            <div class="input-group-prepend">
                <input type="submit" value="Submit" asp-page-handler="Category" class="btn btn-primary" />
            </div>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Questions[0].QuestionText)
            </th>
            <th align="right"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var question in Model.Questions) {
        <tr>
            <td>
                @foreach (var part in Model.SplitTextByPattern(question.QuestionText))
                {
                    if (part.Contains(@"<code>") && (part.Contains(@"</code>")))
                    {
                        <span>
                            @foreach (var line in part.Replace("<code>", "").Replace("</code>", "").Split("\n"))
                            {
                                <code class="multiline">@Html.DisplayFor(x => line)<br /></code>

                            }
                        </span>
                    }
                    else
                    {
                        <span class="multiline">@Html.DisplayFor(x => part)</span>
                    }
                }
            </td>
            <td align="right">
                <nobr>
                    <a asp-page="./Edit" asp-route-id="@question.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@question.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@question.ID">Delete</a>
                </nobr>
            </td>
        </tr>
}
    </tbody>
</table>