@page
@model Repeat.Pages.TakeTest.DetailsModel

@{
    ViewData["Title"] = "Details";
    string dtclass = "col-2 align-self-center my-2";
    string ddclass = "col-10 align-self-center my-2";
}

<h4>@Html.DisplayFor(model => model.Test.Set.Name) - test results:</h4>
<hr />

<div>
    <dl class="row">
        <dt class="@dtclass">
            <nobr>Result:</nobr>
        </dt>
        <dd class="@ddclass">
            @Html.DisplayFor(model => model.Result) %
        </dd>
        <dt class="@dtclass">
            <nobr>Total Points:</nobr>
        </dt>
        <dd class="@ddclass">
            @Html.DisplayFor(model => model.TotalCollectedPoints) / @Html.DisplayFor(model => model.AvailablePoints)
        </dd>
    </dl>

    @foreach (var question in Model.Questions)
    {
        <div class="jumbotron">
            <h4>Question @(Model.Questions.IndexOf(question) + 1):</h4>
            <hr />
            <dl class="row">
                <dd class="col-12 align-self-center my-2">
                    <partial name="Questions/_TextPartial" model="question.QuestionText" />
                </dd>
            @if (question.Picture != null)
            {
                <dt class="@dtclass">
                    <label>Picture:</label>
                </dt>
                <dd class="@ddclass">
                    <partial name="Questions/_PicturePartial" model="question.Picture" />
                </dd>
            }
            @for (int i = 0; i < Model.Test.TestQuestions[Model.Questions.IndexOf(question)].ChoosenAnswers.Count; i++)
            {
                <dt class="@dtclass">
                    <partial name="Questions/_QuestionBadgePartial" model="question.Answers[i]" />
                    Answer @((char)('A' + i)):
                </dt>
                <dd class="@ddclass">
                    <div class="@(Model.Test.TestQuestions[Model.Questions.IndexOf(question)].ChoosenAnswers.FirstOrDefault(q => q.AnswerID == question.Answers[i].ID).GivenAnswer == true ? "given-answer" : "")">
                        <partial name="Questions/_TextPartial" model="question.Answers[i].AnswerText" />
                    </div>
                </dd>
            }
            @if (question.Reference != null)
            {
                <dt class="@dtclass">
                    <label>References:</label>
                </dt>
                <dd class="@ddclass">
                    <a class="multiline">@Html.DisplayFor(model => question.Reference)</a>
                </dd>
            }
            </dl>
            <div>
                Points: @Html.DisplayFor(model => model.QuestionPoints[Model.Questions.IndexOf(question)]) / @question.Answers.Where(q => q.IsTrue == true).ToList().Count
            </div>
        </div>
    }
</div>
<div>
    <a asp-page="./Index" class="btn btn-dark">Back to List</a>
</div>